absl-py==2.2.2
astunparse==1.6.3
blinker==1.9.0
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.0
cryptography==36.0.2
Flask==3.1.0
Flask-Cors
Flask-SQLAlchemy==3.1.1
flatbuffers==25.2.10
gast==0.4.0
google-pasta==0.2.0
greenlet==3.2.2
grpcio==1.71.0
gunicorn==21.2.0
h5py==3.13.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.0
keras>=2.11.0
libclang
Markdown
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
namex
nltk
numpy==1.23.5
opt_einsum
optree
packaging
pandas==1.5.3
protobuf==3.19.6
pycparser
Pygments
PyMySQL
python-dateutil
pytz
regex
requests
rich
scikit-learn>=1.1.0
scipy==1.10.1
six
SQLAlchemy
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorflow==2.11.0
termcolor
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
python-dotenv
